.row {
    background-color:rgb(31, 31, 31);
}

.col {
    cursor: pointer;
    color:white;
    font-weight: bold;
    align-items: flex-end;
    margin: 20px;
    text-align: center;
}

.col::after {
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(253, 83, 239);
    display: block;
    margin: auto;
    transition: 0.25s;
}

.col:hover:after {
    width: 100%;
}
h1 {
    color: white;
    position: relative;
    left: 3%;
    text-shadow: 2px 2px 3px rgb(253, 83, 239);
}

.pfp {
    width: 600px;
    height: 700px;
    border: solid 8px; 
    left: 3%;
    top: 20%;
    position: absolute;
}

.aboutPanel {
    width: 900px;
    height: 50px;
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: rgb(31, 31, 31);
}

.aboutPara {
    width: 900px;
    height: 450px;
    position: absolute;
    left: 40%;
    top: 25.3%;
    background-color: rgb(226, 226, 226);
    padding: 26px;
}

.hobbies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
}

.item {
    justify-content: space-around;
    flex: auto;
    background-color: white;
    box-shadow: 5px 5px 5px thistle;
    width: 200px;
    height: 200px;
    margin: 10px;
}

#hobbies1 {
    background-image: url("Images/hobbies1.png");
    background-repeat: no-repeat;
    background-size: 85px;
    background-position-x: center;
    background-position-y: 12%;
}

#hobbies2 {
    background-image: url("Images/hobbies2.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-x: center;
    background-position-y: 15%;
}

#hobbies3 {
    background-image: url("Images/hobbies3.png");
    background-repeat: no-repeat;
    background-size: 105px;
    background-position-x: center;
    background-position-y: -2%;
}

.miniTexts {
    position: relative;
    top: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

/* CONTACT SECTION CSS */

#contact-size {
width: 100%;
height: 1300px;

}

#contact-area {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 488px;
    background-color: rgb(31, 31, 31);
    z-index: -2
}

#contact-title {
    text-decoration: underline;
    position: absolute;
    left: 40%;
    top: 20%;
}

.contact-info {
    color: rgb(253, 83, 239);
    background-color: rgb(68, 68, 68);
    position: relative;
    text-align: right;
    font-size: 25px;
}

#email {
    left: 36.9%;
    top: 39.4%;
}

#tel {
    display: inline-block;
    color:rgb(253, 83, 239);
    position: relative;
    left: 41.3%;
    top: 45%;
    font-size: 26px;
    width: 25%;
}

.contact-box {
    background-color: white;
    position: relative;
    font-size: 22px;
    padding: 3px;
    z-index: -1
}

#email-info {
    left: 36.5%;
    top: 39%;
}


#tel-info {
    display: inline-block;
    color:rgb(253, 83, 239);
    position: relative;
    left: 18.2%;
    top: 45%;
    font-size: 24px;
}

html { 
    scroll-behavior: smooth; 
} 