.row {
    background-color:rgb(31, 31, 31);
}

.col {
    cursor: pointer;
    color:white;
    font-weight: bold;
    align-items: flex-end;
    margin: 20px;
    text-align: center;
}

.col::after {
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(253, 83, 239);
    display: block;
    margin: auto;
    transition: 0.25s;
}

.col:hover:after {
    width: 100%;
}
h1 {
    color: white;
    position: relative;
    text-shadow: 2px 2px 3px rgb(253, 83, 239);
    margin-left: 4%;
}

.pfp {
    width: 30%;
    height: auto;
    border: solid 8px; 
    position: absolute;
    margin: 2.5%; /*Detach from the nav bar */
}

.aboutPanel {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    left: -2%;
    z-index: 2;
    margin: 2%;
    margin-top: -8%;
    background-color: rgb(31, 31, 31);
}

.aboutPara {
    width: 47.3%;
    height: 45%;
    display: inline-block;
    position: relative;
    left: 31.8%;
    background-color: rgb(226, 226, 226);
    margin: 8.2%; /*Detach from the nav bar */
}

#aboutmeText {
    padding: 3%;
}

.hobbies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
}

.item {
    justify-content: space-around;
    flex: auto;
    background-color: white;
    box-shadow: 5px 5px 5px thistle;
    width: 20%;
    height: auto;
    margin: 2%;
}

#hobbies1 {
    position: relative;
    width: 46%;
    height: auto;
    left: 27%;
    top: 10%;
}

#hobbies2 {
    position: relative;
    width: 35%;
    height: auto;
    left: 35%;
    top: 10%;
}

#hobbies3 {
    position: relative;
    width: 35%;
    height: auto;
    left: 32%;
    top: 10%;
}

.miniTexts {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 0.7vw;
    padding-top: 8%;
    margin: 5%;
}

/* CONTACT SECTION CSS */

#contact-area {
    position: relative;
    width: 100%;
    height: 488px;
    margin-top: 7%;
    background-color: rgb(31, 31, 31);
    z-index: -2
}

#contact-title {
    display: block;
    text-decoration: underline;
    position: relative;
    left: 35%;
    padding: 5%;
}

.email-bind {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    left: 40.8%;
}

.contact-info {
    color: rgb(253, 83, 239);
    background-color: rgb(68, 68, 68);
    position: relative;
    text-align: right;
    font-size: 150%;
}


#email-info {
right: 0.6%;
}

.contact-box {
    background-color: white;
    position: relative;
    font-size: 150%;
    z-index: -1
}


#tel {
    color:rgb(253, 83, 239);
    position: relative;
    left: 44.7%;
    font-size: 165%;
    width: 100%;
    height: auto;
    margin-top: 3%;
}

html { 
    scroll-behavior: smooth; 
} 