.row {
    background-color:rgb(31, 31, 31);
}

.col {
    cursor: pointer;
    color:white;
    font-weight: bold;
    align-items: flex-end;
    margin: 1%;
    text-align: center;
}

.col::after {
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(253, 83, 239);
    display: block;
    margin: auto;
    transition: 0.25s;
}

.col:hover:after {
    width: 100%;
}

.page-size {
    background-color: black;
    height: 224.1vh;
    width: 99.1vw;
    display: flex;
    justify-content: center;
}