.nav {
    background-color:rgb(31, 31, 31);
}

.col {
    cursor: pointer;
    color:white;
    font-weight: bold;
    margin: 1.02%;
    text-align: center;
}

.col::after {
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(253, 83, 239);
    display: block;
    margin: auto;
    transition: 0.25s;
}

.col:hover:after {
    width: 100%;
}

body {
    width: 99.1vw;
    height: 200vh;
}

.pfp{
    display: flex;
    max-width: 20%;
    max-height: auto;
    border-radius: 50%;
    border: solid 9px;
    left: 31%;
    top: 24%;
    position: absolute;
    z-index: 1;
}

.group-bio {
display: inline-block;
position: absolute;
left: 47%;
top: 34.8%;
width: 26.2%;
height: auto;
}


.background {
    display: inline;
    position: relative;
    z-index: -1;
    width: 99vw;
    height: 90.9vh;
    bottom: 5%;
    filter: blur(3px);
}

.bio-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.name {
    text-align: center;
    background-color: rgba(31, 31, 31);
    color: white;
    text-shadow: 2px 2px 3px rgb(253, 83, 239);
    padding: 2%;
}

.bio {
background-color: rgb(255, 255, 255, .3);
text-align: center;
padding: 1%;
}

.projects {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: white;
}

.container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
position: relative;
width: 100%;
height: auto;
}

.item { 
background-color: rgba(252, 252, 252, 0.3);
border-radius: 50px 50px 50px 50px;
border: solid 5px rgb(253, 83, 239);
margin: 7.5%;
padding: 15%;
padding-bottom: 36%;
width: 100%;
height: auto;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
  }

body {
    background-color: rgb(31, 31, 31);
}

#project1 {
    cursor: pointer;
    background-image: url("Images/Project 1 preview.JPG");
    background-size: cover;
    background-position: center;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#project2 {
    cursor: pointer;
    background-image: url("Images/Project 2 preview.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    
}

#project3 {
    cursor: pointer;
    background-image: url("Images/Project 3 preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

h4 {
    color: black;
    background-color: rgb(253, 83, 239);
}