.container-fluid {
    display: grid;
    grid-template-rows: 1fr;
}

.nav {
    background-color:rgb(31, 31, 31);
}

.col {
    cursor: pointer;
    color:white;
    font-weight: bold;
    margin: 1.02%;
    text-align: center;
}

.col-1 { /* Selected-Flag col */
    margin: 1.05%;
    margin-right: 5%;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 2em;
}

.selected-lang:before {
    /*content: ''; */
    display: block;
    /*width: 100%;
    height: auto;
    background-image: url("Images/UK flag.png");
    background-repeat: no-repeat;
    background-size: contain; */
}

#lang-menu {
    margin: 1.05%;
    margin-right: 5%;
    position: relative;
    z-index: 3;
}

#lang-menu:hover ul {
    display: block;
}

#lang-menu ul {
    margin: 0;
    padding: 0;
    margin-top: 0.2%;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute; /* doesn't stretch the row height */
    top: 80%;
    left: 15%;
}

#lang-menu ul li {
    display: flex;
    justify-content: center;
}

#lang-menu ul li img:hover {
background-color: #131313;
}

#lang-menu ul li img {
    cursor: pointer;
    width: 50%;
    height: auto;
    margin-bottom: 5%;
    padding: 1%;
}

.col::after {
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(253, 83, 239);
    display: block;
    margin: auto;
    transition: 0.25s;
}

.col:hover:after {
    width: 100%;
}

body {
    width: 99.1vw;
    height: 200vh;
    font-family: Arial;
}

.pfp{
    max-width: 20%;
    max-height: auto;
    border-radius: 50%;
    border: solid rgb(253, 83, 239) 6px;
    left: 60%;
    top: 25%;
    position: absolute;
    z-index: 1;
}

.bio {
    color: white;
    font-size: 2rem;
    padding: 3rem;
    padding-top: 20rem;
    padding-left: 10rem;
}    

.background {
    display: inline;
    position: relative;
    z-index: -1;
    width: 99vw;
    height: 90.9vh;
    bottom: 5%;
    filter: blur(3px);
}

.bio-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 53rem;
    font-family: Tahoma;
    background-color: rgb(71, 71, 71);
}

.name {
    color: rgb(253, 83, 239);
    text-shadow: 2px 2px 3px black;
}

.projects {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 2%;
    color: white;
}

.projects-area {
    height: auto;
    width: 100%;
}

.container {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
}

.item { 
position: relative;
background-color: rgba(252, 252, 252, 0.3);
border: solid 5px rgb(253, 83, 239);
box-shadow: 0 0 12px rgb(253, 83, 239);
margin: 1%;
width: 30%;
height: 20rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .item {
        width: 10rem;
        height: 20rem;
    }
    .bio-container {
        flex-direction: column;
    }
    .pfp {
        top: 10%;
        left: 70%;
    }
  }

body {
    background-color: rgb(31, 31, 31);
    box-sizing: border-box; /* Will not increase the size of div if padding is added */
    margin: 0;
}

#project1 {
    cursor: pointer;
    background-image: url("Images/Project 1 preview.JPG");
    background-size: 32rem 20rem;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#project2 {
    cursor: pointer;
    background-image: url("Images/Recipes Blog preview.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    
}

#project3 {
    cursor: pointer;
    background-image: url("Images/Project 3 preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: cover;
    /* background-image: url("Images/pastel-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#project4 {
    cursor: pointer;
    background-image: url("Images/Digital clock preview.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 20rem;
}

#project5 {
    cursor: pointer;
    background-image: url("Images/Colour buttons preview.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project6 {
    cursor: pointer;
    background-image: url("Images/rps game preview.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    color: black;
    background-color: rgb(253, 83, 239);
}